<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  <input type="text" value="email" id="email">Email:</input>
  <input type="text" value="pasword" id="password">Password:</input>
  <input type="submit" value="Log In" id="Submit">Log In</input>
</form>

