<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" id="name" name='name' value="name">Name:</input>
  <input type="text" id="email" name='email' value="email">Email:</input>
  <input type="text" id="password" name='password' value="password">Password:</input>
  <input type="submit" value="Sign Up" id="Submit">Sign Up</input>
</form>


