<h1>Sign Up Below:</h1>
<form action="/registrations" method="post">
  <input type="text" value="name" id="name" name="name">Name:</input>
  <input type="text" value="email" id="email" name="email">Email:</input>
  <input type="text" value="pasword" id="password" name="password">Password:</input>
</form>


